:root {
  --background: hsl(218, 25%, 10%);
  --level1: hsl(218, 25%, 15%);
  --level2: hsl(218, 25%, 20%);
  --level3: hsl(218, 25%, 25%);
  --primario:hsl(218, 90%, 57%);
  --secundario: hsl(20, 81%, 60%);
}

body {
  background-color: var(--background);
}

@font-face {
  font-family: "Poppins";
  src: url("./assets//font/Poppins/Poppins-Thin.ttf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets//font/Poppins/Poppins-Light.ttf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets//font/Poppins/Poppins-SemiBold.ttf") format("opentype");
  font-weight: 400;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

select {
  background-color: rgba(255, 255, 255, 0.6);
  border-style: none;
}

button {
  border: none;
  font-weight: 400;
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%),
  -2px -2px 8px hsl(218, 20%, 30%);
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primario);
  border: 4px solid var(--level1);

}

button:hover {
  background-color: hsl(218, 70%, 47%);
  transition: 0.5s;
}

input {
  all: unset;
  padding: 5px;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 100;
  font-size: 20px;
  box-sizing: border-box;
  color: hsl(218, 25%, 80%);
  border-radius: 15px;
}

*::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.App {
  box-sizing: border-box;
}

video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  filter: blur(15px) contrast(110%) saturate(30%);
}

/* Preparo el desenfoque para varios tamaños de pantalla */
@media (min-width: 700px) {
  video {
    filter: blur(15px) contrast(110%) saturate(30%);
  }
}
@media (min-width: 1300px) {
  video {
    filter: blur(25px) contrast(110%) saturate(30%);
  }
}
@media (min-width: 1600px) {
  video {
    filter: blur(35px) contrast(110%) saturate(30%);
  }
}
@media (min-width: 2000px) {
  video {
    filter: blur(55px) contrast(110%) saturate(30%);
  }
}
@media (min-width: 3000px) {
  video {
    filter: blur(85px) contrast(110%) saturate(30%);
  }
}
