:root {
  /* sombras */
  --shadow: hsl(218, 25%, 5%);
  /* luz */
  --ligth: hsl(218, 90%, 55%, 0.2);
  /* bordes y lineas */
  --primario: hsl(218, 90%, 55%);

  /* background color*/
  --level1: hsl(218, 25%, 15%);
  --level2: hsl(218, 25%, 20%);
  --level3: hsl(218, 25%, 25%);
  --level4: hsl(218, 25%, 35%);

  /* text color */
  /* placeholder medium (placeholder) and bold (level, descriptions) */
  --placeholder: hsl(218, 25%, 60%);
  /* texto normal*/
  --text: hsl(218, 25%, 70%);
  /* title, buttons and result */
  --title: hsl(218, 25%, 80%);

  /* sizes */
  /* descripcion de boton */
  --small: 11px;
  /* Descripciones y contenido */
  --middle: 14px;
  /* comentarios o tamaño normal */
  --normal: 16px;
  /* titulos */
  --big: 20px;
  /* "encabezado principal" o "encabezado de página" */
  --extra: 26px; 

  /* spaces */
  --space1: 4px;
  --space2: 8px;
  --space3: 16px;
  --space4: 32px;
  --space5: 64px;
  --space6: 94px;
}

body {
  background: var(--level1);
}

canvas {
  border-radius: 15px;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets//font/Poppins/Poppins-Light.ttf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets//font/Poppins/Poppins-SemiBold.ttf") format("opentype");
  font-weight: 300;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

button {
  font-weight: 300;
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%), -2px -2px 8px hsl(218, 20%, 30%);
  border-radius: 15px;
  padding: var(--space2) var(--space3);
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primario);
  border: 1px solid var(--level1);
  color: var(--title);
}

button:hover {
  background-color: var(--primario);
  transition: 0.5s;
  border: 1px solid var(--primario);
}

input {
  all: unset;
  padding: 8px;
  height: 26px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: rgba(255, 255, 255, 0) 5000s ease-in-out 0s;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 200;
  font-size: var(--normal);
  box-sizing: border-box;
  color: var(--text);
  text-shadow: 0px 0px 5px hsl(218, 25%, 20%, 0.5);
  border-radius: 15px;
  line-height: 1.2;
}

/* Barras de desplazamiento */
/* Ancho de la barra de desplazamiento */
/* ::-webkit-scrollbar {
  width: 8px; 
} */

/* Riel de la barra de desplazamiento */
/* Borde redondeado del riel */
/* Color de fondo del riel */
/* ::-webkit-scrollbar-track {
  background-color: #f1f1f100; 
  border-radius: 4px; 
} */
/* Pulsador de la barra de desplazamiento */
/* Color del pulsador */
/* Borde redondeado del pulsador */
/* ::-webkit-scrollbar-thumb {
  background-color: var(--level3); 
  border-radius: 4px; 
} */

/* Al pasar el mouse sobre la barra de desplazamiento */
/* Color del pulsador al pasar el mouse */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
} */

*::placeholder {
  color: var(--placeholder);
}

.App {
  box-sizing: border-box;
}

video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  filter: blur(15px) contrast(110%) saturate(30%);
}
