a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

h1,
h3,
.parr,
.calculadoraText,
.listcontainer,
p,
.interestInputs {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

select{
  background-color: rgba(255, 255, 255, 0.6);
  border-style: none;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

input {
  all: unset;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: rgb(50, 1, 48);
  background-image: linear-gradient(
    0deg,
    hsl(302, 96%, 10%) 0%,
    hsl(330, 96%, 22%) 50%,
    hsl(302, 96%, 10%) 100%
  );
}

.App {
  box-sizing: border-box;
}

video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  filter: blur(15px) contrast(110%) saturate(30%);
}

/* Preparo el desenfoque para varios tamaños de pantalla */
@media (min-width: 700px) {
  video {
    filter: blur(15px) contrast(110%) saturate(30%);
  }
}
@media (min-width: 1300px) {
  video {
    filter: blur(25px) contrast(110%) saturate(30%);
  }
}
@media (min-width: 1600px) {
  video {
    filter: blur(35px) contrast(110%) saturate(30%);
  }
}
@media (min-width: 2000px) {
  video {
    filter: blur(55px) contrast(110%) saturate(30%);
  }
}
@media (min-width: 3000px) {
  video {
    filter: blur(85px) contrast(110%) saturate(30%);
  }
}
