@media (max-width: 550px) {
  .footerContainer {
    display: none;
  }

  .row {
    left: 0;
    bottom: 0;
    flex-direction: column-reverse;
  }

  .homecontainer {
    overflow: auto;
    width: 100%;
    padding: var(--space3);
  }

  .menuContainer {
    flex-direction: row;
    bottom: 0;
    background-color: var(--level1);
    z-index: 50;
    position: sticky;
    width: 100%;
    padding: var(--space3);
    border-top: 2px solid var(--level2);
  }


  .totalcontainer {
    flex-wrap: wrap;
    height: auto;
  }
  .profitAndLosse {
    width: 100px;
  }

  .inputContainer{
    flex-direction: column;
  }
}
