@media (max-width: 550px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  *{
  box-sizing: border-box;

  }

  :root {
    --space1: 2px;
    --space2: 4px;
    --space3: 8px;
    --space4: 16px;
    --space5: 32px;
    --space6: 64px;
  }

  button {
    padding: var(--space3) var(--space4);
  }

  .row {
    left: 0;
    bottom: 0;
    flex-direction: column-reverse;
  }

  .homecontainer {
    overflow: auto;
    width: 100vw;
    height: 100%;
    padding: var(--space4);
    margin-top: calc(var(--space5) + var(--space5));
  }

  /* saco todos los recuadros contenedores */
  .totalcontainer,
  .inputContainer,
  .notesContainer,
  .interescontainer,
  .graphsContainer,
  .listcontainer,
  .AreaAndColumnContainer {
    box-shadow: none;
    background: var(--level2);
    border: none;
  }

  /* Saco elementos para funcionalidad limitada */
  .footerContainer,
  .timeContainer,
  .gauge,
  .time,
  .dividePoint {
    display: none;
  }

  /* Total Superior */
  .totalcontainer {
    flex-wrap: wrap;
    gap: var(--space3);
    padding: var(--space4);
    background: var(--level2);
    height: 100%;
  }
  .profitAndLosse {
    width: calc(25% - var(--space2) - 2px);
    height: 100px;
  }
  .profitAndLosseTitle,
  .datoTitle {
    font-size: var(--small);
  }
  .datoResult,
  .profitAndLosseResult {
    font-size: var(--middle);
  }

  .divideVertical {
    height: 40px;
  }

  .calculadoraTextResultPorcent {
    font-size: var(--small);
  }

  /* Inputs */
  .inputContainer {
    flex-direction: column;
    height: 100%;
    padding: var(--space4);
    background: var(--level2);
  }

  .input {
    width: 100%;
    background: var(--level2);
  }

  .inputPriceItem {
    padding: var(--space3) var(--space4);
    border: 1px solid var(--level1);
  }
  .inputTextItem {
    height: 70px;
  }

  .navAndListContainer {
    width: 100%;
    margin-top: var(--space4);
    padding: var(--space4);
    background: var(--level3);
  }

  .navList {
    justify-content: space-between;
    gap: var(--space3);
    flex-wrap: wrap-reverse;
    margin: 0;
  }
  .SearchInput {
    width: 100%;
    padding: var(--space3) var(--space4);
    border: 1px solid var(--level3);
    margin: 0 0 var(--space2) 0;
    background: none;
    box-shadow: 2px 2px 4px hsl(218, 25%, 15%) inset,
      -2px -2px 4px hsl(218, 20%, 40%) inset;
  }

  .clearAll,
  .totalInputs {
    width: calc(50% - var(--space3));
  }

  .totalInputs {
    background: linear-gradient(90deg, var(--level4), rgba(255, 255, 255, 0));
    border: 1px solid var(--level3);
    padding: 8px 16px;
  }

  .listcontainer {
    height: 100%;
    overflow: auto;
    margin-top: var(--space4);
    padding: 0;
    background: none;
  }

  .listElement {
    box-shadow: none;
    background: var(--level4);
    border: 1px solid var(--level4);
  }

  .inputOptions {
    flex-direction: row;
  }

  .imgButton {
    display: flex;
  }
  .inputTextItemUpdate {
    box-sizing: border-box;
    padding: var(--space3);
  }

  .inputsUpdate {
    flex-direction: column;
  }

  .positive,
  .negative,
  .neutral {
    font-size: var(--normal);
    width: 110px;
  }

  /* Notas */
  .notesContainer,
  .notesGridContainer {
    width: 100%;
    overflow: visible;
    height: 100%;
  }
  .notesContainer {
    flex-direction: column;
    padding: var(--space4);
  }
  .addNoteAndGraph {
    width: 100%;
  }
  .titleNote {
    padding: var(--space3) var(--space4);
  }

  /* MENU */
  .menuContainer {
    flex-direction: row;
    bottom: 0px;
    background-color: var(--level1);
    z-index: 50;
    position: sticky;
    width: 100vw;
    height: 10vh;
    padding: var(--space3);
    gap: var(--space3);
    border-top: 2px solid var(--level2);
  }

  .menuItemImg {
    width: 20px;
    height: 20px;
  }

  .pressed,
  .menuItem {
    padding: var(--space2);
    gap: var(--space2);
    box-shadow: none;
  }

  /* navbar */
  .cafe,
  .wame {
    width: 30px;
  }

  .config,
  .configOpen {
    width: 28px;
  }

  .navMenu {
    box-shadow: 4px 4px 16px var(--shadow), inset -1px -1px 4px var(--shadow),
      inset 1px 1px 2px var(--text);
    gap: var(--space4);
    padding: var(--space3) var(--space4);
    top: var(--space4);
  }

  /* Interest */
  .interescontainer {
    padding: var(--space4);
    height: 100%;
  }

  .interest {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .selectContainer {
    flex-direction: column;
    width: 100%;
  }

  .interestInputsContainer,
  .calculadoraResultContainer {
    width: 50%;
  }

  .calculadoraResultContainer {
    padding: var(--space4);
  }
  .interestInputs {
    width: 100%;
    box-sizing: border-box;
  }

  .level {
    font-size: var(--small);
  }

  .select {
    background: var(--level3);
    box-shadow: 2px 2px 8px hsl(218, 25%, 5%), -2px -2px 8px hsl(218, 20%, 30%),
      1px 1px 20px hsl(218, 25%, 10%) inset,
      -1px -1px 20px hsl(218, 20%, 30%) inset;
    border: 1px solid var(--level2);
  }
  .calculadoraTitleResult {
    font-size: var(--small);
  }

  .calculadoraTextResult {
    font-size: var(--middle);
  }

  .tinyArea {
    height: 200px !important;
  }

  .dolarDesktop {
    display: none;
  }

  .dolarMovile {
    display: flex;
  }
}
