.homecontainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 60px;
}

.inputsGraph {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 70%;
}

.graphs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 65%;
}

.planDeNegocios {
  width: 200px;
}

.inputTotal {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 15px;
}

.tinys {
  display: flex;
  gap: 15px;
  width: 70%;
}

.noLogged {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 150px);
  width: 100vw;
}

.Utilities {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-radius: 10px;
  padding: 15px;
  width: 40%;
  height: 40%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  gap: 15px;
  box-sizing: border-box;
}

.Utilities img{
  width: 60%;
}

.subtitle {
  color: rgb(161, 161, 161);
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 60%;
  height: 100%;
}

@media (max-width: 915px) {
  .tinys,
  .inputsGraph,
  .listcontainer {
    width: 90%;
  }
  .graphs {
    width: 100%;
  }
  .inputsGraph {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inputTotal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .tinys {
    width: 90%;
    flex-direction: column;
  }
  .homeform {
    justify-content: space-evenly;
    height: 270px;
  }
  .graficacontainer,
  .areacontainer {
    /* height: 400px; */
    width: 100%;
  }
}
@media (max-width: 550px) {
  .inputTotal {
    flex-direction: column;
  }
  .homeform,
  .totalcontainer {
    width: 100%;
  }
  .blur,
  .menu {
    padding: 10px;
    font-size: 10px;
  }

  .navbutton {
    font-size: 10px;
    margin: 5px;
  }

  .footerContainer {
    padding: 15px;
  }
}
