.logincontainer {
  display: flex;
  border-width: 2px;
  height: 100vh;
  align-items:center;
  justify-content: center;
  width: fit-content;
  flex-wrap: wrap;
  gap: 10px
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}
.description {
  font-size: var(--big);
  font-weight: 300;
  color: var(--text);
  width: 100%;
  text-align: center;
  margin: var(--space4) var(--space4) var(--space2) var(--space4);
}

.subDescription{
  font-size: var(--middle);
  font-weight: 200;
  color: var(--placeholder);
  width: 100%;
  text-align: center;
  margin: 0 var(--space4) var(--space4) var(--space4);
}

.login {
  display: flex;
  flex-direction: column;
  padding: var(--space4);
  margin: var(--space4);
  width: 300px;
  height: fit-content;
  align-items: center;
  transition: 1s;
  box-shadow: 1px 1px 8px hsl(218, 25%, 5%), -1px -1px 8px hsl(218, 20%, 30%),
    1px 1px 8px hsl(218, 25%, 5%) inset, -1px -1px 8px hsl(218, 20%, 30%) inset;
  border: 1px solid var(--level1);
}

.loginForm {
  width: 100%;
}

.login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputFormContainer {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: var(--space3);
}

.loginInput {
  background-color: var(--level2);
  border-radius: 15px;
  padding: calc(var(--space2) + 1px) var(--space3);
  width: calc(100% - 30px);
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
}

.loginInput:-webkit-autofill,
.loginInput:-webkit-autofill:hover,
.loginInput:-webkit-autofill:focus,
.loginInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 0px transparent !important;
  -webkit-background-origin: transparent !important;
}

.emailAndKey {
  position: absolute;
  width: 20px;
  filter: invert();
  opacity: 40%;
  top: calc(50% - 10px);
  left: calc(100% - 30px);
  transition: 0.5s;
}

.hoverKey:hover {
  opacity: 80%;
  transition: 0.5s;
}

.loginButtons {
  width: 100%;
}

.loginButtonSecondary {
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  margin: var(--space1);
  display: flex;
}

.secondaryAction {
  font-size: 14px;
  font-weight: 200;
  color: var(--title);
  margin-left: var(--space1);
  transition: 0.5s;
  border-bottom: 1px solid var(--primario);
  border-radius: 0;
}

.secondaryAction:hover {
  font-size: 14px;
  color: var(--result);
  margin-left: var(--space1);
  transition: 0.5s;
}

.buttonSign {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: var(--result);
  border: 1px solid var(--primario);
}

.buttonSign:hover {
  width: 100%;
  color: var(--result);
  background: var(--ligth);
}

.buttonforms {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--space4);
  gap: var(--space3);
}

.imglogin {
  width: 100px;
}

.remember {
  all: unset;
  background: none;
  transition: 0.5s;
  text-align: start;
  width: calc(100% - 4px);
  margin-left: 4px;
  color: var(-title);
  font-size: 14px;
  font-weight: 200;
  margin-top: var(--space2);
  border: 1px solid rgba(255, 255, 255, 0);
}

.remember:hover {
  color: var(--title);
  background: none;
  transition: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0);
}

.inputAndSendRemember {
  position: relative;
  width: 100%;
  margin-top: var(--space3);
  height: 30px;
}

.inputRemember {
  padding: var(--space2) var(--space3);
  transition: 1s;
  width: calc(100% - 113px);
  height: 26px;
  background: var(--level2);
  border-radius: 15px 0 0 15px;
  font-size: 14px;
  font-weight: 200;
}

.sendRemember {
  position: absolute;
  width: 80px;
  top: 0;
  left: calc(100% - 80px);
  border-radius: 0 15px 15px 0;
  background: none;
  border: 1px solid var(--primario);
}

.sendRemember:hover {
  position: absolute;
  width: 80px;
  left: calc(100% - 80px);
  border-radius: 0 15px 15px 0;
}

.previews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: var(--space4);
  gap: var(--space4);
}

.desktopPrev {
  box-shadow: 20px 20px 40px hsl(218, 25%, 5%),
    -5px -5px 10px hsl(218, 25%, 5%) inset,
    5px 5px 10px hsl(218, 20%, 50%) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
  border-radius: 1vw;
  border: 0.1vw solid rgba(255, 255, 255, 0.01);
  height: fit-content;
}
.desktopPrev img {
  max-height: 350px;
  height: 24vw;
  border: 0.1vw solid rgba(0, 0, 0, 0.4);
  border-radius: 0.7vw;
}

.movilePrev {
  box-shadow: 20px 20px 40px hsl(218, 25%, 5%),
    -5px -5px 10px hsl(218, 25%, 5%) inset,
    5px 5px 10px hsl(218, 20%, 50%) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
  border-radius: 1vw;
  border: 0.1vw solid rgba(255, 255, 255, 0.01);
  height: fit-content;
}
.movilePrev img {
  border-radius: 0.7vw;
  height: 24vw;
  max-height: 350px;
  border: 0.1vw solid rgba(0, 0, 0, 0.4);
}
