.logincontainer {
  display: flex;
  border-width: 2px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  padding: var(--space4);
  width: 300px;
  align-items: center;
  transition: 1s;
  box-shadow: 1px 1px 8px hsl(218, 25%, 5%), -1px -1px 8px hsl(218, 20%, 30%),
    1px 1px 8px hsl(218, 25%, 5%) inset, -1px -1px 8px hsl(218, 20%, 30%) inset;
  border: 1px solid var(--level1);
}

.loginForm {
  width: 100%;
}

.login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputFormContainer {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.loginInput {
  background-color: var(--level2);
  border-radius: 15px;
  padding: var(--space3);
  width: calc(100% - 30px);
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%) inset,
    -2px -2px 8px hsl(218, 20%, 30%) inset;
  margin-top: var(--space3);
}

.loginInput:-webkit-autofill,
.loginInput:-webkit-autofill:hover,
.loginInput:-webkit-autofill:focus,
.loginInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 0px transparent !important;
  -webkit-background-origin: transparent !important;
}

.emailAndKey {
  position: absolute;
  width: 20px;
  filter: invert();
  opacity: 40%;
  top: 50%;
  left: calc(100% - 30px);
  transition: 0.5s;
}

.hoverKey:hover {
  opacity: 80%;
  transition: 0.5s;
}

.loginButtons {
  width: 100%;
}

.loginButtonSecondary {
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  margin: var(--space1);
  display: flex;
}

.secondaryAction {
  font-size: 14px;
  font-weight: 200;
  color: var(--title);
  margin-left: var(--space1);
  transition: 0.5s;
  border-bottom: 1px solid var(--primario);
  border-radius: 0;
}

.secondaryAction:hover {
  font-size: 14px;
  color: var(--result);
  margin-left: var(--space1);
  transition: 0.5s;
}

.buttonSign {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: var(--result);
  border: 1px solid var(--primario);
}

.buttonSign:hover {
  width: 100%;
  color: var(--result);
  background: var(--ligth);
}

.buttonforms {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--space4);
  gap: var(--space3);
}

.imglogin {
  width: 100px;
}

.remember {
  all: unset;
  background: none;
  transition: 0.5s;
  text-align: start;
  width: calc(100% - 4px);
  margin-left: 4px;
  color: var(-title);
  font-size: 14px;
  font-weight: 200;
  margin-top: var(--space2);
}

.remember:hover {
  color: var(--title);
  background: none;
  transition: 0.5s;
}

.inputAndSendRemember {
  position: relative;
  width: 100%;
  margin-top: var(--space3);
  height: 30px;
}

.inputRemember {
  padding: var(--space2) var(--space3);
  transition: 1s;
  width: calc(100% - 113px);
  height: 26px;
  background: var(--level2);
  border-radius: 15px 0 0 15px;
  font-size: 14px;
  font-weight: 200;
}

.sendRemember {
  position: absolute;
  width: 80px;
  top: 0;
  left: calc(100% - 80px);
  border-radius: 0 15px 15px 0;
  background: none;
  border: 1px solid var(--primario);
}

.sendRemember:hover {
  position: absolute;
  width: 80px;
  left: calc(100% - 80px);
  border-radius: 0 15px 15px 0;
}
