.logincontainer {
  display: flex;
  border-width: 2px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
}

.login {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  gap: 15px;
  transition: 1s;
}

.login:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginInput{
  width: calc(100% - 30px);
}
.loginButtons {
  width: 50%;
}

.buttonSign{
  width: 100%;
}

.buttonforms {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.imglogin {
  width: 100px;
}

.login input {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  padding: 15px;
}
