.signcontainer {
  display: flex;
  border-width: 2px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  background: none;
}

.sign {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  gap: 15px;
  transition: 1s;
}

.sign:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.sign form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .buttonforms {
  display: flex;
  flex-direction: row;
  gap: 15px;
} */

.imgsign {
  width: 100px;
}

.signinput {
  background-color: rgba(255, 255, 255, 0.134);
  border-radius: 15px;
  padding: 5px;
}

.sign input {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 15px;
}

.SignText {
  text-align: center;
  color: var(-title);
  font-weight: 200;
  margin-bottom: var(--space3);
}

.minimum{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}