.pop {
  position: fixed;
  top: 100px;
  left: calc(50% - 170px);
  width: 340px;
  padding: var(--space4);
  gap: var(--space4);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 16px 16px 32px var(--shadow), inset -2px -2px 4px var(--shadow),
    inset 1px 1px 4px var(--text);
  border: 1px solid var(--level1);
  flex-direction: column;
  z-index: 30;
}

.pup {
  position: fixed;
  top: -350px;
  left: calc(50% - 170px);
  width: 340px;
  padding: var(--space4);
  gap: var(--space4);
  background-color: var(--level3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  flex-direction: column;
  z-index: 30;
  box-shadow: 35px 35px 68px 0px var(--shadow),
    inset -1px -1px 4px var(--shadow), inset 1px 1px 4px var(--text);
  border: 1px solid var(--level1);
}

.popimg {
  width: 30px;
  filter: invert();
  opacity: 80%;
  border-radius: 0;
}

.popupButtonAcept {
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%), -2px -2px 8px hsl(218, 20%, 50%);
  width: 100%;
  border: 1px solid var(--primario);
  background-color: rgb(255, 255, 255, 0);
  color: var(--title);
  padding: var(--space2) var(--space3);
}

.popupButtonAcept:hover {
  background-color: var(--primario);
}

.popupButtonCancel {
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%), -2px -2px 8px hsl(218, 20%, 50%);
  width: 100%;
  border: 1px solid var(--level2);
  background-color: var(--primario);
  color: var(--title);
  padding: var(--space2) var(--space3);
}

.popupButtonsContainer {
  display: flex;
  gap: var(--space3);
  width: 100%;
}

.popupText {
  color: var(--title);
  font-weight: 200;
}
