.maintenanceContainer{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gracias{
    filter: invert();
}

.imgMessage{
    width: 300px;
}

.buttonNotFound{
    margin-top: 15px;
}