.areacontainer {
  border-width: 2px;
  border-radius: 5px;
  padding: 15px;
  width: calc(100%-20px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.areacontainer ul li span {
  color: rgb(144, 6, 6);
}
.areacontainer ul li {
  color: rgb(144, 6, 6);
}
