.areacontainer {
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  height: 400px;
  background: var(--level2);
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-evenly;
}

.areacontainer ul li span {
  color: rgb(144, 6, 6);
}

.areacontainer ul li {
  color: rgb(144, 6, 6);
}

.areaDatoContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
}

.netoContainer {
  width: 60%;
  height: 100% !important;
}
