.graficacontainer {
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  height: 400px;
  background-color: rgb(30, 30, 30);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

.graficacontainer ul li span {
  color: rgb(144, 6, 6);
}

.graficacontainer ul li {
  color: rgb(144, 6, 6);
}

.datosContainer{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.datoIng-Egr{
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(40, 40, 40);
}

.columnContainer{
  width: 60%; 
  height: 100% !important;
}