.graficacontainer {
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}

.graficacontainer ul li span {
  color: rgb(144, 6, 6);
}

.graficacontainer ul li {
  color: rgb(144, 6, 6);
}
