.ProfitsAndLossesContainer {
  padding: 15px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--level2);
}
.difference {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProfitsAndLossesContainer img {
  width: 50px;
}

.ProfitsAndLossesContainer h1 {
  font-size: 20px;
}

.porcentPositive {
  font-size: 25px;
  color: green;
}

.porcentNegative {
  font-size: 25px;
  color: red;
}

.ProfitsAndLossesContainer h3 {
  font-size: 15px;
}
