.input {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  gap: var(--space3);
}

.inputPriceItem {
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
  background: var(--level2);
}

.inputTextItem {
  all: unset;
  height: 100px;
  resize: none;
  border-radius: 15px;
  border-style: none;
  text-align: center;
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
  background: var(--level2);
  margin-bottom: var(--space3);
}

.inputTextItem::placeholder {
  padding-top: var(--space2);
}
