.input {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(30, 30, 30);
  gap: 10px;
}

.input input {
  border-radius: 5px;
  text-align: center;
}

.inputPriceItem {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.8);
}

.inputTextItem {
  all: unset;
  height: 100px;
  resize: none;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  border: 1px solid rgb(255, 255, 255, 0.8);
}