.interescontainer {
  padding: var(--space3);
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: var(--space4);
  box-shadow: 1px 1px 8px hsl(218, 25%, 5%), -1px -1px 8px hsl(218, 20%, 30%),
    1px 1px 8px hsl(218, 25%, 5%) inset, -1px -1px 8px hsl(218, 20%, 30%) inset;
  border: 1px solid var(--level1);
  margin: 0 0 var(--space5) 0;
}

.tinyArea canvas {
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%) inset,
    -2px -2px 8px hsl(218, 20%, 30%) inset;
  padding-top: var(--space3);
  background: var(--level2);
}

.interesImg {
  width: 50px;
}

.interestInputs {
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
  background: var(--level2);
  margin-bottom: var(--space3);
}

.marginCero{
  margin: 0;
}

.interestInputsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.level {
  font-size: 14px;
  font-weight: 300;
  color: var(--placeholder);
  margin-bottom: var(--space2);
}

.selectContainer {
  display: flex;
  gap: var(--space3);
  flex-direction: row;
  margin-bottom: var(--space3);
}

.select {
  cursor: pointer;
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%), -2px -2px 8px hsl(218, 20%, 30%),
    1px 1px 20px hsl(218, 25%, 5%) inset,
    -1px -1px 20px hsl(218, 20%, 30%) inset;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 200;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0);
}

.select:hover {
  border: 1px solid var(--primario);
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0);
}

.selected {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 200;
  transition: 0.4s;
  background: hsl(218, 90%, 57%, 0.1);
  border: 1px solid hsl(218, 25%, 15%);
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%) inset,
    -2px -2px 8px hsl(218, 20%, 30%) inset, 2px 2px 8px hsl(218, 25%, 10%),
    -2px -2px 8px hsl(218, 20%, 25%);
}

.selected:hover {
  background: hsl(218, 90%, 57%, 0.1);
}

.interest {
  display: flex;
  flex-direction: row;
  gap: var(--space4);
}

.calculadoraResultContainer {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%) inset,
    -2px -2px 8px hsl(218, 20%, 30%) inset, 2px 2px 8px hsl(218, 25%, 10%),
    -2px -2px 8px hsl(218, 20%, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--level2);
  padding: var(--space3);

}

.calculadoraTextResult {
  color: hsl(218, 25%, 50%);
  font-weight: 300;
}

.calculadoraTitleResult{
  font-size: 16px;
}

.resultCenter{
  display: flex;
  flex-direction: column;
  gap: var(--space3)
}

.resultContainer{
  display: flex;
  flex-direction: column;
  gap: var(--space2)
}
