.interescontainer {
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.1);
}

.calculadoraText {
  font-size: 15px;
}

.interesImg {
  width: 50px;
}

.interestInputs {
  width: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-size: 15px;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.interestInputsContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.interest {
  display: flex;
  flex-direction: column;
}

.calculadoraTextResult{
 color: rgb(155, 155, 155);
}