.navAndListContainer {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listcontainer {
  padding: var(--space3);
  width: 100%;
  height: 300px;
  overflow: auto;
  gap: var(--space3);
  box-shadow: 1px 1px 8px hsl(218, 25%, 5%), -1px -1px 8px hsl(218, 20%, 30%),
  1px 1px 8px hsl(218, 25%, 5%) inset, -1px -1px 8px hsl(218, 20%, 30%) inset;
  background-color: var(--level2);
  border: 2px solid var(--level1);
}

.listElement {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--space2);
  margin-top: var(--space2);
  margin-bottom: var(--space2);
  position: relative;
}

.listElement:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    var(--level3),
    var(--level3),
    rgba(255, 255, 255, 0)
  );
}

.inputOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space2);
  margin-right: var(--space2);
  top: calc(50% - --space1);
}
.img {
  width: 20px;
  height: 20px;
  filter: invert();
  opacity: 50%;
  border-radius: 0;
}

.img:hover {
  opacity: 80%;
}

.positive,
.negative,
.neutral {
  font-weight: 200;
  width: 140px;
  padding: var(--space2);
}
.positive {
  color: rgb(1, 155, 1);
}

.negative {
  color: rgb(221, 1, 1);
}

.neutral {
  color: rgb(98, 98, 98);
}

.inputsUpdate {
  display: flex;
  flex-direction: row;
  gap: var(--space3);
  margin-top: var(--space1);
}

.listInputDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 15px;
  padding-bottom: var(--space3);
}

.inputTextItemUpdate {
  all: unset;
  width: 100%;
  resize: none;
  border-radius: 15px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space3);
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
  background: var(--level2);
  margin-bottom: var(--space3);
}

.divide {
  width: 100%;
  height: var(--space1);
  background-color: var(--level2);
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-bottom: var(--space3);
  gap: var(--space4);
}

.clearAll {
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  border: 1px solid var(--primario);
  padding: 8px 16px;
}

.buttons {
  display: flex;
  gap: var(--space3);
}

.inputAplicar,
.inputCancelar {
  width: 100%;
}

.inputCancelar {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--primario);
}

.time {
  font-weight: 200;
  color: rgb(255, 255, 255, 0.4);
  font-size: 14px;
  padding: var(--space2);
}

.totalInputs {
  width: 100%;
  background: linear-gradient(90deg, var(--level2), rgba(255, 255, 255, 0));
  padding: var(--space2) var(--space3);
  height: 42px;
}

.details {
  overflow: scroll;
  padding: var(--space2);
  font-size: 16px;
}

.dividePoint {
  width: 2px;
  height: 32px;
  box-shadow: 1px 1px 3px hsl(218, 25%, 5%), -1px -1px 3px hsl(218, 20%, 30%);
}
