.listcontainer {
  padding: var(--space3);
  width: 100%;
  overflow: auto;
  position: relative;
  gap: var(--space3);
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%) inset,
    -2px -2px 8px hsl(218, 20%, 30%) inset;
  margin-top: var(--space5);
}

.listElement {
  display: flex;
  flex-direction: row;
  gap: var(--space2);
  padding: var(--space2);
  margin-top: var(--space2);
  margin-bottom: var(--space2);
}

.listElement:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    var(--level2),
    var(--level2),
    rgba(255, 255, 255, 0)
  );
}

.img {
  width: 20px;
  height: 20px;
  filter: invert();
  opacity: 50%;
}

.img:hover {
  opacity: 80%;
}

.positive {
  color: rgb(1, 155, 1);
}

.negative {
  color: rgb(221, 1, 1);
}

.neutral {
  color: rgb(98, 98, 98);
}

.homeformList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: var(--space2);
  position: fixed;
  width: 350px;
  top: calc(50% - 125px);
  left: calc(50% - 175px);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  gap: 10px;
}

.divide {
  width: 100%;
  height: var(--space1);
  background-color: var(--level2);
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
}

.clearAll {
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  border: 1px solid var(--primario);
  position: absolute;
  top: 10px;
  left: calc(80% - 10px);
  padding: 8px 16px;
}

.clearAll:hover {
  color: rgb(0, 0, 0, 0.8);
}

.buttons {
  display: flex;
  gap: 10px;
}

.inputAplicar,
.inputCancelar {
  width: 100%;
}

.inputCancelar {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255, 0.5);
  color: rgb(255, 255, 255, 0.5);
}

.inputCancelar:hover {
  color: rgb(0, 0, 0, 0.8);
}

.time {
  font-weight: 200;
  color: rgb(255, 255, 255, 0.4);
}
