.listcontainer{
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    height: 300px;
    overflow: auto;
}

.listElement{
    display: flex;
    flex-direction: row;
    gap: 10px;
}