.navAndListContainer {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listcontainer {
  padding: var(--space3);
  width: 100%;
  height: 100%;
  overflow: auto;
  box-shadow:
    2px 2px 8px hsl(218, 25%, 5%) inset, -2px -2px 8px hsl(218, 20%, 30%) inset;
  /* border: 2px solid var(--level1); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--space3);
}

.listElement {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: relative;
  gap: var(--space2);
  padding: var(--space2);
  background: var(--level2);
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: 4px 4px 16px var(--shadow), inset -1px -1px 4px var(--shadow),
    inset 1px 1px 4px var(--text);
  border: 1px solid var(--level1);
}

.listElement:hover {
  background: var(--level3);
  transition: 0.5s;
}

.inputOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space2);
  top: calc(50% - --space1);
}

.img {
  width: 32px;
  height: 32px;
  padding: var(--space1);
  filter: invert();
  opacity: 50%;
  border-radius: 0;
  transition: 0.5s;
}

.img:hover {
  opacity: 80%;
  padding: 0;
  transition: 0.5s;
}

.positive,
.negative,
.neutral {
  font-size: var(--big);
  width: 140px;
  padding: var(--space2);
}
.positive {
  color: rgb(1, 155, 1);
}

.negative {
  color: rgb(221, 1, 1);
}

.neutral {
  color: rgb(98, 98, 98);
}

.inputsUpdate {
  display: flex;
  flex-direction: row;
  gap: var(--space2);
  transition: 0.5s;
  width: 100%;
}

.listInputDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  padding-bottom: var(--space3);
}

.imgButton {
  all: unset;
  background: rgba(255, 255, 255, 0);
}

.imgButton:hover {
  all: unset;
  background: rgba(255, 255, 255, 0);
}

.inputPriceItemUpdate {
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
  background: var(--level2);
  background: var(--level3);
}

.inputTextItemUpdate {
  all: unset;
  width: 100%;
  resize: none;
  border-radius: 15px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space2);
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
  background: var(--level3);
}

.navList {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-bottom: var(--space3);
}

.clearAll {
  background-color: rgba(255, 255, 255, 0);
  color: var(--title);
  border: 1px solid var(--primario);
  padding: 8px 16px;
}

.buttons {
  display: flex;
  gap: var(--space3);
}

.inputAplicar,
.inputCancelar {
  width: 100%;
}

.inputCancelar {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--primario);
}

.time {
  color: var(--placeholder);
  font-size: var(--small);
  padding: var(--space2);
}

.totalInputs {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  background: linear-gradient(90deg, var(--level2), rgba(255, 255, 255, 0));
  padding: var(--space2) var(--space3);
  font-size: var(--text);
  margin-right: var(--space3);
  color: var(--placeholder);
  border: 1px solid var(--level1);
}

.details {
  overflow: auto;
  padding: var(--space2);
  font-size: 16px;
}

.dividePoint {
  width: 1px;
  height: 40px;
  box-shadow: 1px 1px 2px hsl(218, 25%, 5%), -1px -1px 2px hsl(218, 20%, 30%);
}
