.menuContainer {
  position: sticky;
  top: calc(50% - 168px);
  height: 100%;
  gap: var(--space3);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuContainer a {
  width: 100%;
}

.menuItem {
  gap: var(--space2);
  padding: var(--space2) calc(var(--space2) + 4px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background: var(--level1);
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%), -2px -2px 8px hsl(218, 20%, 30%),
    1px 1px 20px hsl(218, 25%, 5%) inset, -1px -1px 20px hsl(218, 20%, 30%) inset;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.4s;
}

.menuItem:hover {
  border: 1px solid hsl(218, 90%, 57%);
  transition: 0.4s;
}

.pressed {
  transition: 0.4s;
  gap: var(--space2);
  padding: var(--space2) calc(var(--space2) + 4px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background: hsl(218, 90%, 57%, 0.1);
  border: 1px solid hsl(218, 25%, 15%);
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%) inset,
    -2px -2px 8px hsl(218, 20%, 30%) inset, 2px 2px 8px hsl(218, 25%, 10%),
    -2px -2px 8px hsl(218, 20%, 25%);
}

.menuItemText {
  font-weight: 300;
  font-size: 10px;
  color: hsl(218, 25%, 50%);
}

.menuItemImg {
  width: 32px;
  filter: invert();
  opacity: 50%;
  border-radius: 0;
}

.dividirContainer {
  display: flex;
  position: relative;
}
.dividir {
  width: 32px;
  filter: invert();
  opacity: 50%;
  border-radius: 0;
  rotate: 15deg;
}

.persona1 {
  width: 12px;
  filter: invert();
  opacity: 50%;
  border-radius: 0;
  position: absolute;
  top: calc(100% - 12px);
  left: calc(100% - 12px);
}

.persona2 {
  width: 12px;
  filter: invert();
  opacity: 50%;
  border-radius: 0;
  position: absolute;
}

.divideVerticalMenu {
  height: 414px;
  /* height: 100px; */
  width: 1px;
  background-color: var(--primario);
  box-shadow: 2px 2px 4.5px hsl(218, 25%, 0%) inset,
    -2px -2px 4.5px hsl(218, 20%, 50%) inset;
}
