.navcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 35px;
  cursor: pointer;
  color: rgb(235, 235, 235);
  line-height: 0.8;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: var(--space3);
  z-index: 1;
  transition: 0.5s;
  box-shadow: 5px 5px 12px var(--background);
  border-top: 1px outset hsla(0, 0%, 100%, 0.4);
  border-bottom: 1px solid hsla(0, 0%, 0%, 1);
  gap: var(--space3);
  padding: var(--space2) var(--space3);
  backdrop-filter: blur(8px);
  background: linear-gradient(
    135deg,
    hsl(218, 25%, 57%, 0.1),
    hsl(218, 25%, 57%, 0)
  );
  border-radius: 50px;
}

.navMenu:hover {
  box-shadow: 5px 5px 12px hsl(218, 90%, 20%);
  transition: 0.5s;
  border-top: 1px solid var(--primario);
}

.navbutton {
  width: 100%;
  padding: var(--space2) var(--space3);
  transition: 1s;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 50%;
  font-weight: 200;
}

.navbutton:hover {
  transition: 0.5s;
  color: var(--text);
  opacity: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.menuflechas {
  width: 15px;
  filter: invert();
  transition: 1s;
}

.menuLog {
  display: flex;
  flex-direction: column;
}

.config {
  width: 32px;
  filter: invert();
  opacity: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.configOpen {
  width: 32px;
  filter: invert();
  opacity: 80%;
  cursor: pointer;
  transition: 0.5s;
  rotate: 45deg;
}

.config:hover {
  opacity: 80%;
  transition: 0.5s;
}

.configmerge {
  display: flex;
  position: fixed;
  top: 80px;
  width: 270px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transition: 0.5s;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: var(--space2);
  border-top: 1px outset hsla(0, 0%, 100%, 0.4);
  border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

.configclose {
  display: flex;
  position: fixed;
  top: -300px;
  width: 270px;
  z-index: -2;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  flex-direction: column;
  text-align: center;
  gap: var(--space2);
  padding: var(--space2);
}

.newPasswordContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newpassword {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.newpassword::placeholder {
  color: rgb(0, 0, 0, 0.5);
}

.lineMerge {
  width: 100%;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.nickname {
  background-color: rgb(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  padding: var(--space1) var(--space2);
  margin: 0 var(--space1);
  gap: var(--space2);
}

.email {
  transition: 1s;
  color: var(--text);
  font-size: 14px;
  font-weight: 300;
}

.cancelConfirm {
  display: flex;
  width: 100%;
  gap: 5px;
}

.cancel {
  width: 20%;
  background-color: rgb(0, 0, 0, 0);
  color: rgb(255, 255, 255, 0.5);
  border: 1px solid rgb(255, 255, 255, 0.5);
}

.cancel:hover {
  background-color: rgba(255, 255, 255, 0, 8);
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(255, 255, 255, 0);
}

.confirm {
  width: 80%;
}

.sound {
  width: 24px;
  filter: invert();
  opacity: 50%;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.5s;
  border-radius: 0;
}

.wame {
  width: 40px;
  filter: invert();
  opacity: 50%;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 0;
  padding: 0 var(--space1);
}

.wame:hover {
  filter: invert();
  opacity: 80%;
  transition: 0.5s;
}

.cafe {
  filter: invert();
  opacity: 50%;
  width: 40px;
  transition: 0.5s;
  padding: var(--space1);
  border-radius: 0;
}

.cafeContainer {
  display: flex;
}

.cafe:hover {
  opacity: 80%;
  transition: 0.5s;
  padding: 0;
}

.awsp {
  display: flex;
  align-items: center;
  justify-content: center;
}
