.noteContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: var(--space3);
  padding: var(--space2);
  background: var(--level2);
  border-radius: 15px;
  box-shadow: 2px 2px 16px var(--shadow), inset -1px -1px 4px var(--shadow), inset 1px 1px 4px var(--text);
    border: 1px solid var(--level1);
}

.buttonsNoteUpdate {
  position: absolute;
  top: calc(100% - 30px);
  left: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 15px 0;
}

.noteTitle {
  width: 100%;
  height: 50px;
  padding: 20px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  font-weight: 300;
}

.noteText {
  width: 100%;
  height: 120px;
  padding: var(--space2);
  border-radius: 0 0 15px 15px;
  overflow: auto;
  display: flex;
  text-align: start;
}

.buttonsSavedNote {
  position: absolute;
  top: calc(100% - 40px);
  left: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space2);
}

.deleteImg {
  width: 32px;
  opacity: 50%;
  filter: invert();
  transition: 0.5s;
  border-radius: 0;
  padding: var(--space1);
}

.modifyImg {
  width: 32px;
  opacity: 50%;
  filter: invert();
  transition: 0.5s;
  border-radius: 0;
  padding: var(--space1);
}

.modifyImg:hover,
.deleteImg:hover {
  transition: 0.5s;
  opacity: 80%;
  padding: 0;
}

.inputTitleUpdate {
  height: 50px;
  width: calc(100% - 10px);
  border-radius: 15px 15px 0 0;
  padding: 0 5px;
  color: rgb(255, 255, 255, 0.6);
}

.inputTextUpdate {
  all: unset;
  display: flex;
  height: 120px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  resize: none;
  background: var(--level3);
}

.none {
  width: 25px;
  height: 25px;
  position: relative;
  top: 6.5px;
  left: 6.5px;
  border-radius: 100px;
  box-shadow: 0px 0px 3px hsl(220, 23%, 5%), -0px -0px 3px hsl(220, 23%, 45%);
  border: 1px solid rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  transition: 0.1s;
  opacity: 0%;
}

.checkNoteGreen {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  box-shadow: 1px 1px 3px hsl(220, 23%, 5%), -1px -1px 3px hsl(220, 23%, 45%);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

.checkNoteGreenBorder {
  width: 40px;
  height: 40px;
  position: absolute;
  top: var(--space2);
  left: var(--space2);
  border-radius: 100px;
  box-shadow: 1px 1px 4px hsl(220, 23%, 5%) inset,
    -1px -1px 4px hsl(220, 23%, 45%) inset;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.checkNoteGreenBorder:hover {
  background: var(--ligth);
  border: 1px solid var(--level2);
  transition: 0.5s;
}

.checkNoteGray {
  width: 40px;
  height: 40px;
  position: absolute;
  top: var(--space2);
  left: var(--space2);
  border-radius: 100px;
  box-shadow: 1px 1px 4px hsl(220, 23%, 5%) inset,
    -1px -1px 4px hsl(220, 23%, 45%) inset;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 1s;
}

.checkNoteGray:hover {
  border: 1px solid var(--primario);
  transition: 0.5s;
}

.done {
  width: 15px;
  filter: invert();
  opacity: 80%;
  padding: 1.5px;
}

.doneNone {
  width: 0px;
  filter: invert();
  opacity: 100%;
  padding: 1.5px;
}

@media (max-width: 550px) {
  .noteContainer {
    width: calc((100% - 15px) / 2);
  }
}
