.noteContainer {
  width: 100%;
  position: relative;
  top: var(--space3);
  box-shadow: 5px 5px 12px var(--background);
  border-top: 1px outset hsla(0, 0%, 100%, 0.4);
  border-bottom: 1px solid hsla(0, 0%, 0%, 1);
  gap: var(--space3);
  padding: var(--space2);
  background: linear-gradient(
    135deg,
    hsl(218, 25%, 57%, 0.1),
    hsl(218, 25%, 57%, 0)
  );
  border-radius: 15px;
}

.buttonsNoteUpdate {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: calc(100% - 30px);
  left: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 15px 0;
}

.noteTitle {
  width: 100%;
  height: 50px;
  padding: 20px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  font-weight: 700;
}

.noteText {
  width: 100%;
  height: 120px;
  padding: var(--space2);
  border-radius: 0 0 15px 15px;
  overflow: auto;
  display: flex;
  text-align: start;
}

.buttonsSavedNote {
  position: absolute;
  top: calc(100% - 40px);
  left: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space2);
}

.deleteImg {
  width: 32px;
  opacity: 50%;
  filter: invert();
  transition: 0.5s;
  border-radius: 0;
  padding: var(--space1);
}

.modifyImg {
  width: 32px;
  opacity: 50%;
  filter: invert();
  transition: 0.5s;
  border-radius: 0;
  padding: var(--space1);
}

.modifyImg:hover ,.deleteImg:hover {
  transition: 0.5s;
  opacity: 80%;
  padding: 0;
}

.okUpdate {
  width: 30px;
  opacity: 70%;
  padding: 7.5px;
  /* transition: 0.5s; */
  border-radius: 0 0 15px 0;
  /* transition: 0.5s; */
}

.okUpdate:hover {
  width: 30px;
  opacity: 70%;
  padding: var(--space2);
  transition: 0.5s;
  border-radius: 0 0 15px 0;
  /* transition: 0.5s; */
  background-color: rgb(255, 255, 255, 0.5);
}

.noteInputs {
  border-radius: 15px;
}

.inputTitleUpdate {
  height: 35%;
  width: calc(100% - 10px);
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  padding: 0 5px;
  color: rgb(255, 255, 255, 0.6);
}

.inputTextUpdate {
  all: unset;
  height: calc(65% - 11px);
  width: calc(100% - 10px);
  padding: 5px 5px;
  border-radius: 0 0 15px 15px;
  color: rgb(255, 255, 255, 0.6);
  resize: none;
  background-color: rgb(255, 255, 255, 0.1);
}

.none {
  width: 25px;
  height: 25px;
  position: relative;
  top: 6.5px;
  left: 6.5px;
  border-radius: 100px;
  box-shadow: 0px 0px 3px hsl(220, 23%, 5%), -0px -0px 3px hsl(220, 23%, 45%);
  border: 1px solid rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  transition: 0.1s;
  opacity: 0%;
}

.checkNoteGreen {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  box-shadow: 1px 1px 3px hsl(220, 23%, 5%), -1px -1px 3px hsl(220, 23%, 45%);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

.checkNoteGreenBorder {
  width: 40px;
  height: 40px;
  position: absolute;
  top: var(--space2);
  left: var(--space2);
  border-radius: 100px;
  box-shadow: 1px 1px 4px hsl(220, 23%, 5%) inset,
    -1px -1px 4px hsl(220, 23%, 45%) inset;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkNoteGreenBorder:hover {
  background: hsl(218, 90%, 57%, 0.3);
  border: 1px solid var(--level3);
  transition: 0.5s;
}

.checkNoteGray {
  width: 40px;
  height: 40px;
  position: absolute;
  top: var(--space2);
  left: var(--space2);
  border-radius: 100px;
  box-shadow: 1px 1px 4px hsl(220, 23%, 5%) inset,
    -1px -1px 4px hsl(220, 23%, 45%) inset;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s;
}

.checkNoteGray:hover {
  border: 1px solid var(--primario);
  transition: 0.5s;
}

.done {
  width: 15px;
  filter: invert();
  opacity: 80%;
  padding: 1.5px;
}

.doneNone {
  width: 0px;
  filter: invert();
  opacity: 100%;
  padding: 1.5px;
}

@media (max-width: 550px) {
  .noteContainer {
    width: calc((100% - 15px) / 2);
  }
}
