.notesContainer {
  padding: var(--space3);
  width: 100%;
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  gap: var(--space4);
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%), -2px -2px 8px hsl(218, 20%, 30%),
    2px 2px 8px hsl(218, 25%, 5%) inset, -2px -2px 8px hsl(218, 20%, 30%) inset;
  border: 1px solid var(--level1);
  margin: var(--space5) 0;
}

.formNote {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space3);
}

.addNoteAndGraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  gap: var(--space3);
}

.notesGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 70%;
  padding: var(--space3);
  overflow: auto;
  gap: var(--space3);
  box-shadow: 
    2px 2px 8px hsl(218, 25%, 5%) inset, -2px -2px 8px hsl(218, 20%, 30%) inset;
  border: 2px solid var(--level1);
}

.addNoteButton{
  background-color: rgba(255, 255, 255, 0);
  color: var(--title);
  border: 1px solid var(--primario);
  padding: 8px 16px;
}

.gauge {
  width: 100%;
  height: 30% !important;
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%) inset,
    -2px -2px 8px hsl(218, 20%, 30%) inset;
  padding: var(--space3);
  margin-top: calc(var(--space4) + 4px);
}

.addNote {
  width: 100%;
  height: 200px;
  overflow: auto;
  box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255, 0.03);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}

.addNote:hover {
  background-color: rgb(255, 255, 255, 0.1);
  transition: 0.5s;
}

.noteInputs {
  transition: 0.5s;
  height: 100%;
  position: relative;
}

.titleNote {
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
  background: var(--level2);
}

.inputNote {
  all: unset;
  height: 100px;
  resize: none;
  border-radius: 15px;
  border-style: none;
  text-align: center;
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
  background: var(--level2);
  margin-bottom: var(--space3);
}

.inputNote::placeholder {
  padding-top: var(--space2);
}

.ok:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255, 0.5);
}

.progressNotes {
  width: 100%;
  height: 50px;
}

@media (max-width: 915px) {
  .notesContainer {
    width: 90%;
  }
}
