.noteContainer {
  width: 25%;
  height: 150px;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.noteTitle {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  padding: 10px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
}

.noteText {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.01);
}

.deleteNote {
  width: 30px;
  height: 30px;
  border-radius: 0px 5px 0px 20px;
  position: absolute;
  top: 0px;
  left: calc(100% - 30px);
  background-color: rgb(255, 255, 255, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0;
}

.deleteImg {
  width: 15px;
  opacity: 70%;
  position: absolute;
  top: 4px;
  left: 8px;
}
