.pop {
  width: 300px;
  padding: 15px;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
  border-color: rgb(255, 255, 255, 0.8);
  position: absolute;
  top: 100px;
  left: calc(50% - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.05);
  flex-direction: column;
  z-index: 30;
}

.pup {
  width: 300px;
  padding: 15px;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -250px;
  left: calc(50% - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.2s;
  flex-direction: column;
  z-index: 1;
}

.popupBlur {
  backdrop-filter: blur(7px);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

.popimg {
  width: 30px;
  filter: invert();
  opacity: 80%;
}

.popupButton {
  border-radius: 5px;
  padding: 5px 10px;
  width: 110px;
  border: solid rgb(255, 255, 255, 0.5);
  background-color: rgb(255, 255, 255, 0);
  color: rgb(255, 255, 255, 0.8);
}

.popupButton:hover {
  border-radius: 5px;
  padding: 5px 10px;
  width: 110px;
  border: solid rgb(255, 255, 255, 0.5);
  background-color: rgb(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

.popupButtonsContainer {
  display: flex;
  gap: 15px;
}

.popupText{
  color: rgb(255, 255, 255, 0.8);
}
