.porcentcontainer {
  padding: var(--space3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  background: var(--level2);
  height: 100%;
}
