.porcentcontainer {
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
}
