.totalcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space3);
  gap: var(--space2);
  width: 100%;
  height: calc(20vh - 16px);
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%), -2px -2px 8px hsl(218, 20%, 30%),
    2px 2px 8px hsl(218, 25%, 5%) inset, -2px -2px 8px hsl(218, 20%, 30%) inset;
  border: 1px solid var(--level1);
  margin-bottom: var(--space4);
  position: relative;
}

.lastMonth {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--middle);
  width: 100%;
  font-weight: 300;
  gap: var(--space3)
}

.datos {
  display: flex;
  gap: var(--space3)

}

.datoTitle {
  color: var(--placeholder);
  font-weight: 200;
  font-size: var(--middle);
}

.pie {
  width: 200px;
  opacity: 80%;
}

.totalimg {
  filter: invert();
  width: 50px;
}
.porcentimg {
  filter: invert();
  width: 30px;
}

.porcentcontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.porcentcontainer input {
  width: 50px;
  background-color: rgba(240, 248, 255, 0.069);
}

.porcentcontainer input:hover {
  background-color: rgba(240, 248, 255, 0.301);
}

.porcentcontainer input:focus {
  outline: none;
}

.circleValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.profitAndLosse {
  width: 150px;
  height: 100px;
  padding: var(--space2);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--space2);
}

.profitAndLosseTitle {
  font-size: var(--middle);
  font-weight: 300;
  color: var(--placeholder);
}

.profitAndLosseResult {
  font-weight: 300;
  color: var(--title);
  font-size: var(--big);
}

.divideVertical {
  height: 68px;
  width: 1px;
  background-color: var(--primario);
  box-shadow: 2px 2px 4.5px hsl(218, 25%, 0%),
    -2px -2px 4.5px hsl(218, 20%, 50%);
}
