.timeContainer {
  padding: var(--space3);
  min-width: 210px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space3);
  box-shadow: 2px 2px 8px hsl(218, 25%, 5%) inset,
    -2px -2px 8px hsl(218, 20%, 30%) inset;
}

.hour {
  font-size: var(--big);
  color: var(--placeholder);
}

.inDay {
  display: flex;
  flex-direction: column;
  gap: var(--space1);
}

.inDay p {
  font-size: var(--middle);
  color: var(--placeholder);

}

.divideVerticalTime {
  height: 100%;
  width: var(--space1);
  background-color: var(--level2);
  box-shadow: 2px 2px 4px hsl(218, 25%, 5%) inset,
    -2px -2px 4px hsl(218, 20%, 30%) inset;
}
