.totalcontainer {
  border-width: 2px;
  /* border-style: solid; */
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: calc(100%-20px);
  background-color: rgba(0, 0, 0, 0.4);
}

.total{
   display: flex;
   justify-content: center;
   align-items: center;
}

.totalimg{
   filter: invert();
   width: 50px;
}
.porcentimg{
   filter: invert();
   width: 30px;
}

.porcentcontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.1);
  border-radius: 5px;
  padding: 15px;
}

.porcentcontainer input {
  width: 50px;
  background-color: rgba(240, 248, 255, 0.069);
  border-radius: 5px;
}

.porcentcontainer input:hover {
  background-color: rgba(240, 248, 255, 0.301);
}

.porcentcontainer input:focus {
  outline: none;
}

.circleValue{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 15px;
}
