.totalcontainer {
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  background-color: rgba(30, 30, 30);
  height: 200px;
}

.pie{
  width: 300px;
}

.totalimg {
  filter: invert();
  width: 50px;
}
.porcentimg {
  filter: invert();
  width: 30px;
}

.porcentcontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
}

.porcentcontainer input {
  width: 50px;
  background-color: rgba(240, 248, 255, 0.069);
  border-radius: 5px;
}

.porcentcontainer input:hover {
  background-color: rgba(240, 248, 255, 0.301);
}

.porcentcontainer input:focus {
  outline: none;
}

.circleValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.profitAndLosseContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profitAndLosse {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profitAndLosseTitle {
  font-size: 16px;
}

.profitAndLosseResult {
  font-size: 32px;
  font-weight: 800;
}
