.totalcontainer {
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 200px;
}

.totalimg {
  filter: invert();
  width: 50px;
}
.porcentimg {
  filter: invert();
  width: 30px;
}

.porcentcontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
box-sizing: border-box;
}

.porcentcontainer input {
  width: 50px;
  background-color: rgba(240, 248, 255, 0.069);
  border-radius: 5px;
}

.porcentcontainer input:hover {
  background-color: rgba(240, 248, 255, 0.301);
}

.porcentcontainer input:focus {
  outline: none;
}

.circleValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
